<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/aos.css" rel="stylesheet" />
  <link href="css/my-style.css" rel="stylesheet" />
  <link href="css/Responsive.css" rel="stylesheet" />
  <title>CT Celebal Desk</title>
</head>

<body>
  <!-- header html start -->
  <header>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6  ">
          <a class="navbar-brand" href="index.html">
            <img src="assets/ct-logo.svg" />
          </a>
        </div>
        <div class="col-6  ">

          <button type="button" class="burger" id="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
          </button>
          <div class="menu" id="menu">
            <div class="menu-right justify-content-end align-items-center d-flex">
              <a class="nav-link active" aria-current="page" href="https://celebaltech.com/">Celebal Technologies</a>
             
             
             
             
             
             
              <% if (isLoggedIn) { %>
              <a href="/logout" class="Visit__apiButton">Logout</a>
              <% } else { %>
              <a href="/login" class="Visit__apiButton">Login</a>
              <% } %>
              








            </div>
          </div>


        </div>
      </div>
    </div>
  </header>
  <!-- header html End -->
  <!-- banner section html start -->
  <section class="banner__section" style="background-image: url('assets/banner.svg');">
    <div class="container">
      <div class="row justify-content-end align-items-center banner__section__minHeight banner__section__row">
        <div class="col-md-12 col-lg-6" data-aos="fade-right" data-aos-duration="1000">
          <div class="banner__section__text">
            <h2 class="mb-5">
              Put Your <strong>Ticketing</strong> <br />
              <strong>Service </strong> On Steroids
            </h2>
            <p class="mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500s,</p>
            
            
            
              <% if (isLoggedIn) { %>
              <a href="/api" class="Visit__apiButton">Visit API</a>
              <% } else { %>
              <a href="/login" class="Visit__apiButton">Visit API</a>
              <% } %>






          </div>
        </div>

        <div class="col-md-12 col-lg-6">
          <div class="banner__section__img">
            <img src="assets/banner-img.svg" data-aos="fade-down" data-aos-duration="1000" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner section html End  -->
  <!-- key features Section html start -->
  <section class="key__featuresSection">
    <div class="container">
      <div class="key__featuresBox" data-aos="fade-up" data-aos-duration="800">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <h2 class="hedding-text">CT-Desk <strong> key features </strong></h2>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-12 col-sm-12">
            <ul>
              <li data-aos="fade-right" data-aos-duration="1000">
                <img src="assets/Approval.svg" />
                <h4>Approval Process Control</h4>
              </li>
              <li data-aos="fade-up" data-aos-duration="1000">
                <img src="assets/Assignment.svg" />
                <h4>Assignment Management</h4>
              </li>
              <li data-aos="fade-left" data-aos-duration="1000">
                <img src="assets/API.svg" />
                <h4>API</h4>
              </li>
              <li data-aos="fade-down" data-aos-duration="1000">
                <img src="assets/Access.svg" />
                <h4>Access Controls</h4>
              </li>
              <li data-aos="fade-left" data-aos-duration="1000">
                <img src="assets/Notifications.svg" />
                <h4>Alerts/Notifications</h4>
              </li>
              <li data-aos="fade-up" data-aos-duration="1000">
                <img src="assets/Activity.svg" />
                <h4>Activity Tracking</h4>
              </li>
              <li data-aos="fade-up" data-aos-duration="1000">
                <img src="assets/Activity.svg" />
                <h4>Real Time Analytics</h4>
              </li>
              <li data-aos="fade-right" data-aos-duration="1000">
                <img src="assets/Customizable.svg" />
                <h4>Customizable Branding</h4>
              </li>
              <li data-aos="fade-down" data-aos-duration="1000">
                <img src="assets/Automated.svg" />
                <h4>Automated Routing</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- key features Section html End-->
  <!-- Why Use CT-Desk Section html start -->
  <section class="whyUse__Section">
    <div class="container">
      <div class="row justify-content-center align-items-center whyUse__Section__row">
        <div class="col-md-12 col-lg-7">
          <div class="whyUse__Sectionbox row" style="background-image: url('assets/why-use-bg.svg');">
            <div class="card" data-aos="fade-up" data-aos-duration="1000">
              <img src="assets/great-customer.svg" class="card-img-top" alt="Great customer experience" />
              <div class="card-body">
                <h5 class="card-title">Great customer experience</h5>
                <p class="card-text">You can deliver a superior help desk experience for your customers through
                  omni-channel support, context-aware ticket tracking, Instant Messaging, a self-service portal and</p>
              </div>
            </div>

            <div class="card mt_plus" data-aos="fade-up" data-aos-duration="1000">
              <img src="assets/Enhanced-productivity.svg" class="card-img-top" alt="Great customer experience" />
              <div class="card-body">
                <h5 class="card-title">
                  Enhanced <br />
                  productivity
                </h5>
                <p class="card-text">Make the workplace more enjoyable and efficient for your help desk agents. With
                  features like: work modes, response editors, contextual ticketing, sentiment analysis, auto-tagging
                </p>
              </div>
            </div>

            <div class="card" data-aos="fade-down" data-aos-duration="1000">
              <img src="assets/Clutter-free-management.svg" class="card-img-top" alt="Great customer experience" />
              <div class="card-body">
                <h5 class="card-title">Clutter-free management</h5>
                <p class="card-text">Efficiently manage multiple aspects of the help desk with a unified Desk portal.
                  Features like Workflow, Blueprint, Layouts, Notification Rules, automatic ticket assignment</p>
              </div>
            </div>

            <div class="card" data-aos="fade-down" data-aos-duration="1000">
              <img src="assets/Impeccable-Integrations.svg" class="card-img-top" alt="Great customer experience" />
              <div class="card-body">
                <h5 class="card-title">
                  Impeccable <br />
                  Integrations
                </h5>
                <p class="card-text">Integrate your help desk with the rest of your operations. Create extensions,
                  integrate with existing tools, build mobile apps with SDKs, integrate marketplace extensions, create
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12  order_mobile_first" data-aos="fade-left" data-aos-duration="1000">
          <h2 class="hedding-text mb-4">
            Why Use <br />
            <strong> CT-Desk </strong>
          </h2>
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled
            it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Why Use CT-Desk Section html End-->

  <!-- CustomerExperience__section css start -->
  <section class="CustomerExperience__section" style="background-image: url('assets/customer-experience.svg');">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-10 col-md-12" data-aos="fade-right" data-aos-duration="1000">
          <h2 class="hedding-text">
            To Get <strong> Personalized </strong> and <br />
            <strong> Customer Experience </strong> Everytime
          </h2>
        </div>
        <div class="col-lg-2 col-md-12 text-right" data-aos="fade-left" data-aos-duration="1000">
          <a href="/api/" class="Visit__apiButton">Visit API</a>
        </div>
      </div>
    </div>
  </section>

  <!-- CustomerExperience__section css End -->

  <!-- Faq section html start -->
  <section class="faq__section">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-7 col-md-12">
          <div data-aos="fade-left" data-aos-duration="1000">
            <h2 class="hedding-text mb-3"><strong> FAQ </strong></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>

          <div class="accordion" id="accordionExample" data-aos="fade-up" data-aos-duration="1000">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 text-right">
          <div class="faq__section__rightImg">
            <img src="assets/bot_new_img1.svg" data-aos="fade-right" data-aos-duration="1000" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- faq Section html End -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="index.html"> Home </a> <a href="https://celebaltech.com/"> celebal technologies </a> <a
            href="/api"> Visit API </a>
          <p>© 2021, Celebal Technologies Pvt. Ltd. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/bootstrap.min.js"></script>
  <script src="js/aos.js"></script>

  <script>
    AOS.init({
      duration: 800,
      once: true,

      disable: function () {
        var maxWidth = 800;
        return window.innerWidth < maxWidth;
      }

    });




  </script>
  <script>
    const burgerMenu = document.getElementById("burger");
    const navbarMenu = document.getElementById("menu");

    // Show and Hide Navbar Menu
    burgerMenu.addEventListener("click", () => {
      burgerMenu.classList.toggle("is-active");
      navbarMenu.classList.toggle("is-active");

      if (navbarMenu.classList.contains("is-active")) {
        navbarMenu.style.maxHeight = navbarMenu.scrollHeight + "px";
      } else {
        navbarMenu.removeAttribute("style");
      }
    });

  </script>



</body>

</html>