/*header css start*/
 body{
     font-family: 'Inter', sans-serif;
}
 header {
     align-items: center;
     padding: 10px 0;
}
 header .menu-right {
     display: flex;
     font-size: 18px;
}
 header .burger {
     position: relative;
     display: none;
     cursor: pointer;
     width: 2rem;
     height: 1rem;
     border: none;
     outline: none;
     opacity: 0;
     visibility: hidden;
     background: none;
     transform: rotate(0deg);
     transition: 0.35s ease-in-out;
}
 header .burger-line {
     display: block;
     position: absolute;
     width: 100%;
     height: 2px;
     left: 0;
     border: none;
     outline: none;
     opacity: 1;
     border-radius: 0.25rem;
     background: #34497b;
     transform: rotate(0deg);
     transition: 0.25s ease-in-out;
}
 header .burger-line:nth-child(1) {
     top: 0;
}
 header .burger-line:nth-child(2){
     top: 0.5rem;
}
 header .burger-line:nth-child(3) {
     top: 1rem;
}
 header .burger.is-active .burger-line:nth-child(1) {
     transform: rotate(45deg);
     top: 0.5rem;
     left: 0%;
}
 header .burger.is-active .burger-line:nth-child(2) {
     transform: rotate(-45deg);
     top: 0.5rem;
     left: 0%;
}
 header .burger.is-active .burger-line:nth-child(3) {
     display: none;
}
 .menu-right a{
     color: #000;
     font-weight: 300;
     margin-right: 20px ;
}
 a.Visit__apiButton{
     min-width: 142px;
     min-height: 52px;
     line-height: 52px;
     color: #fff ;
     text-align: center;
     background: #34497B;
     border:none;
     text-decoration: none;
     font-weight: 600;
     display: inline-block;
}
 .Visit__apiButton {
     min-width: 142px;
     min-height: 52px;
     line-height: 52px;
     color: #fff ;
     text-align: center;
     background: #34497B;
     border:none;
     text-decoration: none;
     font-weight: 600;
     display: inline-block;
}
 .Visit__apiButton:hover{
     background: #000;
}
/*banner css start*/
 .banner__section {
     min-height: 880px;
     background-position: bottom;
     background-size: cover;
     background-repeat: no-repeat;
}
 .banner__section__minHeight{
     min-height:680px;
}
 .banner__section__text h2{
     font-size: 65px;
     color: #000000;
     font-weight: 400 ;
}
 .banner__section__text p{
     font-size: 22px;
     color: #000000;
}
 .banner__section__row{
     position: relative;
}
 .banner__section__img img{
     position: absolute;
     bottom: 5px;
     margin-left: 40px;
}
/*banner css End*/
/*key__featuresSection css start*/
 .key__featuresSection{
     margin-top: -250px;
}
 .key__featuresBox {
     background: #fff;
     border-radius: 100px;
     padding: 80px 30px;
}
 .hedding-text {
     font-size: 48px;
     color: #000;
     text-transform: capitalize;
     font-weight: 400;
}
 .key__featuresBox ul {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-auto-rows: minmax(100px, auto);
     list-style: none;
     text-align: center;
     padding: 0 ;
     margin-top: 40px;
}
 .key__featuresBox ul li{
     border-right: 1px solid #ddd;
     padding: 40px 10px;
     border-bottom: 1px solid #ddd;
}
 .key__featuresBox ul li img{
     width: 90px;
     height: 90px;
     object-fit: contain;
}
 .key__featuresBox ul li h4{
     font-size: 20px;
     font-weight: 600;
     color: #262626;
     margin: 20px 0 0;
}
 .key__featuresBox ul li:nth-child(3n+3){
     border-right: none;
}
 .key__featuresBox ul li:nth-child(7n){
     border-bottom: none;
}
 .key__featuresBox ul li:nth-child(8n){
     border-bottom: none;
}
 .key__featuresBox ul li:nth-child(9n){
     border-bottom: none;
}
 strong{
     font-weight: 700;
}
/*key__featuresSection css End*/
/*whyUse__Section css start*/
 .whyUse__Section{
     background: #F3F7FD;
     padding: 50px 0;
     position: relative;
}
 .card-img-top {
     width: 80px;
     height: 80px;
     object-fit: contain;
     margin: 0 auto;
}
 .card {
     width: 264px;
     display: inline-grid;
     max-height: 380px;
     justify-content: center;
     align-items: center;
     box-shadow: 0 0 19px -6px #000000;
     margin: 18px 18px 30px;
     border-radius: 18px;
     padding: 25px 0px;
     text-align: center;
}
 .whyUse__Sectionbox .card:nth-child(1){
     margin-bottom: 150px;
}
 .whyUse__Sectionbox .card:nth-child(2){
     margin-top: 140px;
}
 .whyUse__Sectionbox .card:nth-child(3){
     margin-top: -100px;
     margin-bottom: 100px;
}
 .whyUse__Sectionbox {
     background-position: center center;
     background-repeat: no-repeat;
     text-align: center;
     justify-content: center;
}
 .whyUse__Section__row{
     position: relative;
}
 .whyUse__Section__row::after{
     content: "";
     background-image: url(../assets/Oval.svg);
     display: inline-block;
     width: 100px;
     height: 100px;
     background-repeat: no-repeat;
     position: absolute;
     left: 53%;
     bottom: 19%;
     background-size: contain;
}
 .card h5{
     font-weight: 600;
     font-size: 20px;
     color: #000000;
     margin: 6px 0 10px;
}
 .card p{
     font-size: 15px;
     color: #616161;
}
/*whyUse__Section css End*/
/*CustomerExperience__section css start*/
 .CustomerExperience__section {
     padding: 35px 0 ;
     background-repeat: no-repeat;
     background-size: cover;
}
 .CustomerExperience__section h2 {
     margin: 0;
     color: #fff;
}
 .CustomerExperience__section h2 strong{
     color: #B6E2E6;
}
 .CustomerExperience__section .Visit__apiButton:hover{
     background: #fff;
     color: #34497B;
}
/*CustomerExperience__section css end*/
/*faq__section css start*/
 .faq__section {
     padding: 100px 0;
     position: relative;
}
 .faq__section p {
     font-size: 20px;
     color: #6D7783;
     margin-bottom: 0;
}
 .accordion-body p{
     color: #6D7783;
     font-size: 15px;
}
 .accordion{
     padding-top: 30px;
}
 .faq__section__rightImg img {
     z-index: 2;
     position: absolute;
     right: 0;
     max-width: 40%;
     bottom: 20%;
}
 .faq__section::after {
     bottom: 0;
     background-image: url(../assets/effect-faq-img.svg);
     content: "";
     height: 440px;
     width: 450px;
     display: inline-block;
     position: absolute;
     right: 0;
     z-index: 1;
}
 .accordion-item{
     background-color: #fff;
     border: none;
     border-top: 2px solid #F6F4F8 !important;
}
 .accordion-button{
     padding: 22px 0px ;
     font-size: 21px;
     color: #212529;
     background-color: #fff;
     font-weight: 600;
     line-height: 31px;
}
 .accordion-button:hover{
     color: #34497b;
}
 .accordion-button:not(.collapsed) {
     color: #34497b;
     background-color: transparent !important;
     box-shadow: none;
     padding-bottom: 10px;
}
 .accordion-body {
     padding: 0 0 20px;
}
 .accordion-button::after {
     width: 36px;
     height: 36px;
     background-size: 36px;
}
 .accordion-button:focus{
     border-color: transparent;
     box-shadow: none;
}
/*faq__section css start*/
/*footer css start*/
 footer{
     background: #34497B;
     padding: 30px 0;
}
 footer a {
     color: #fff;
     margin:0 15px 15px ;
     font-size: 16px;
     text-decoration: none ;
     text-transform: capitalize;
     display: inline-block;
}
 footer a:hover{
     color:#7D8AAA;
}
 footer p {
     color: #7D8AAA;
     margin-bottom: 0;
}
/*footer css End */
/* Api page css start */
 .gray_bg {
     background-color: #f2f2f2;
}
 .api_section{
     padding: 40px 0;
}
/* Api Page css End */
/*login page css start*/
 .signIn__container__form h2 {
     margin-bottom: 20px;
}
 .login_section a {
     color: #333;
     font-size: 14px;
     text-decoration: none;
     margin: 15px 0;
}
 .login_section button {
     text-transform: uppercase;
     transition: transform 80ms ease-in;
     margin-top: 10px;
}
 .login_section button:active {
     transform: scale(0.95);
}
 .login_section button:focus {
     outline: none;
}
 .login_section button.ghost {
     background-color: transparent;
     border-color: #34497B;
     color: #34497B;
     border: none;
     font-weight: 600;
}
 .login_section button.ghost:hover {
     color: #000;
}
 .login_section form {
     background-color: #FFFFFF;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 50px;
     height: 100%;
     text-align: center;
}
 .login_section label{ width: 100%; text-align: left; }
 .login_section input {
     background-color: #eee;
     border: none;
     padding: 12px 15px;
     margin: 8px 0;
     width: 100%;
}
.gray_bg_light{background: #f4f4f4;
    background: -webkit-linear-gradient(to right, #f4f4f4, #dfdfdf33);
    background: linear-gradient(to right, #f4f4f4, #dfdfdf33); padding-top: 25px;padding-bottom: 25px;  text-align: center;}
 .login_section .container_part {
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
     position: relative;
     overflow: hidden;
     max-width: 100%;
     max-width: 950px;
}
/*     min-height: 480px;*/

}
 .login_section .form-container {
     position: absolute;
     top: 0;
     height: 100%;
     transition: all 0.6s ease-in-out;
}
 .login_section .sign-in-container {
     left: 0;
     width: 50%;
     z-index: 2;
}
 .login_section .container_part.right-panel-active .sign-in-container {
     transform: translateX(100%);
}
 .login_section .sign-up-container {
     left: 0;
     width: 50%;
     opacity: 0;
     z-index: 1;
}
 .login_section .container_part.right-panel-active .sign-up-container {
     transform: translateX(100%);
     opacity: 1;
     z-index: 5;
     animation: show 0.6s;
}
 @keyframes show {
     0%, 49.99% {
         opacity: 0;
         z-index: 1;
    }
     50%, 100% {
         opacity: 1;
         z-index: 5;
    }
}
 .login_section .overlay-container {
     position: absolute;
     top: 0;
     left: 50%;
     width: 50%;
     height: 100%;
     overflow: hidden;
     transition: transform 0.6s ease-in-out;
     z-index: 100;
}
 .login_section .container_part.right-panel-active .overlay-container{
     transform: translateX(-100%);
}
 .login_section .overlay {
     background: #dfdfdf33;
     background: -webkit-linear-gradient(to right, #fffefe, #dfdfdf33);
     background: linear-gradient(to right, #fffefe, #dfdfdf33);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 0 0;
     color: #FFFFFF;
     position: relative;
     left: -100%;
     height: 100%;
     width: 200%;
     transform: translateX(0);
     transition: transform 0.6s ease-in-out;
}
 .login_section .container_part.right-panel-active .overlay {
     transform: translateX(50%);
}
 .login_section .overlay-panel {
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
     top: 0;
     height: 100%;
     width: 50%;
     transform: translateX(0);
     transition: transform 0.6s ease-in-out;
}
 .login_section .overlay-left {
     transform: translateX(-0%);
}
 .login_section .container.right-panel-active .overlay-left {
     transform: translateX(0);
}
 .login_section .overlay-right {
     right: 0;
     transform: translateX(0);
}
 .login_section .container_part.right-panel-active .overlay-right {
     transform: translateX(20%);
}
/*login page css End*/
