@media (max-width: 1400px){
     .banner__section__text h2 {
         font-size: 56px;
    }
     .banner__section__text p {
         font-size: 20px;
    }
     .banner__section__img img {
         margin-left: 0;
         max-width: 600px;
    }
     .banner__section__minHeight {
         min-height: 580px;
    }
     .banner__section {
         min-height: 782px;
    }
     .hedding-text {
         font-size: 42px;
    }
     .key__featuresBox ul li img {
         width: 70px;
         height: 70px;
    }
     .key__featuresBox ul li h4 {
         font-size: 18px;
         margin: 15px 0 0;
    }
     .key__featuresBox ul li{
         padding: 30px 10px;
    }
     .whyUse__Section__row::after{
        width: 70px;
        height: 70px;
        left: 57%;
    }
     .whyUse__Sectionbox{
        background-size: 90%;
    }
     .card-body {
        padding: 5px 1rem;
    }
     .accordion-button{
        font-size: 20px;
    }
     .accordion-button::after {
        width: 30px;
        height: 30px;
        background-size: 30px;
    }
     .faq__section p {
        font-size: 18px;
    }
}
 @media(max-width: 1200px){
     .banner__section__img img {
         max-width: 50%;
    }
     .banner__section {
         min-height: 710px;
    }
     .banner__section__minHeight {
         min-height: 500px;
    }
     .banner__section__text h2 {
        font-size: 48px;
        margin-bottom: 21px !important;
    }
     .banner__section__text p {
        font-size: 18px;
    }
     .accordion-body p{
         font-size: 15px;
    }
     .hedding-text {
         font-size: 34px;
    }
     .card{
        width: 243px;
    }
}
 @media(max-width: 991px){
     .banner__section__minHeight {
         min-height: auto;
    }
     .banner__section {
         min-height: auto;
         padding: 70px 0 103px ;
    }
     .key__featuresSection{
         margin-top: -139px;
    }
     .banner__section__img{
         padding-top: 40px;
         text-align: center;
    }
     .banner__section__img img{
         max-width: 80%;
         position: initial;
    }
     .key__featuresBox {
         border-radius: 60px;
         padding: 60px 0px;
    }
     .order_mobile_first{
         order: -1;
         text-align: center;
         margin-bottom: 40px;
    }
     .order_mobile_first .hedding-text br{
         display: none;
    }
     .faq__section__rightImg img{
         max-height:340px;
         max-width: 100%;
         bottom:5%;
    }
     .faq__section {
         padding-bottom: 500px;
    }
     .CustomerExperience__section h2{
         margin-bottom: 20px;
    }
     header .navbar-brand{
         position: relative ;
         z-index: 999;
    }
     header .navbar-brand img{
         max-width: 100%;
    }
     .Visit__apiButton {
         min-width: 142px;
         min-height: 46px;
         line-height: 46px;
    }
     .CustomerExperience__section{
         text-align: center;
    }
     .whyUse__Section__row::after {
         left: auto;
         right: 0;
    }
     header .burger {
         display: block;
         opacity: 1;
         visibility: visible;
         float: right;
    }
     header.menu {
         width: 100%;
         max-height: 0rem;
         padding: 0;
         opacity: 0;
         visibility: hidden;
         overflow: hidden;
         transition: all 0.35s ease;
    }
     header .menu.is-active {
         opacity: 1;
         visibility: visible;
            min-height: 230px;
    }
     header .menu-inner {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
         gap: 0.75rem;
         padding: 1rem 0;
    }
     header{
         position: relative;
    }
     .menu{
         display: none;
    }
     .menu.is-active{
         display: block;
    }
     .menu {
         position: absolute;
         width: 100%;
         left: 0;
         background: #fff;
         top: 49px;
         height: 200px;
         z-index: 9;
         text-align: center;
         padding-top: 30px;
    }
     header .menu-right{
         display: initial !important;
    }
     .menu-right a {
         color: #000;
         font-weight: 300;
         margin-right: 0;
         margin-bottom: 15px;
    }
}
 @media( max-width: 767px){
     .menu-right {
         text-align: center;
         justify-content: center !important;
    }
     .faq__section__rightImg img {
         max-height: 280px;
         bottom: 5%;
    }
     .faq__section::after{
        height: 340px;
    }
     .faq__section {
         padding-bottom: 380px;
    }
     .key__featuresBox ul{
         grid-template-columns: repeat(2, 1fr);
    }
     .key__featuresBox ul li{
         border-right: 1px solid #ddd !important;
         border-bottom: 1px solid #ddd !important;
    }
     .key__featuresBox ul li:nth-child(2n+2){
         border-right: none !important;
    }
     .whyUse__Sectionbox {
         padding: 0 15px;
    }
     .card{
         width: 100%;
         margin: 15px 0 !important;
         position: relative;
        z-index: 2;
    }
     .faq__section {
         padding: 60px 0;
         padding-bottom: 380px;
    }
     .banner__section__img img {
         max-width: 100%;
    }
     .banner__section {
         min-height: auto;
         padding: 50px 0 103px;
    }
     .faq__section::after{
         width: 100%;
         background-repeat: no-repeat;
         background-position: top right;
    }
     .api_section .img-fluid {
         margin-top: 15px;
    }
    /*login page css start*/
     .signIn__container__form h2 {
         margin-bottom: 20px;
    }
     .login_section a {
         color: #333;
         font-size: 14px;
         text-decoration: none;
         margin: 15px 0;
    }
     .login_section button {
         text-transform: uppercase;
         transition: transform 80ms ease-in;
         margin-top: 10px;
    }
     .login_section button:active {
         transform: scale(0.95);
    }
     .login_section button:focus {
         outline: none;
    }
     .login_section button.ghost {
         background-color: transparent;
         border-color: #34497B;
         color: #34497B;
         border: none;
         font-weight: 600;
    }
     .login_section button.ghost:hover {
         color: #000;
    }
     .login_section img{
         max-width: 260px;
         margin-top: 0;
    }
     .login_section form {
         background-color: #FFFFFF;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         padding: 0 20px;
         height: 350px;
         text-align: center;
    }
     .login_section input {
         background-color: #eee;
         border: none;
         padding: 12px 15px;
         margin: 8px 0;
         width: 100%;
    }
/*     .login_section .container_part {
         background-color: #fff;
         border-radius: 10px;
         box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
         position: relative;
         overflow: hidden;
         max-width: 90%;
         min-height: 700px;
    }*/
    .login_section .container_part{ width: 90%; padding: 0; }
.login_section form{ margin-bottom: 0; }



     .login_section .form-container {
         position: absolute;
         top: 0;
         height:auto ;
         transition: all 0.6s ease-in-out;
    }
     .login_section .sign-in-container {
         width: 100%;
         z-index: 999;
         left: 0;
         top: 0%;
    }
     .login_section .container_part.right-panel-active .sign-in-container {
         transform: translateX(0%);
         transform: translateY(100%);
         opacity: 0;
         z-index: 0;
    }
     .login_section .sign-up-container {
         left:0;
         top: 0;
         width: 100%;
         opacity: 0;
         z-index: 1;
    }
     .login_section .container_part.right-panel-active .sign-up-container {
         transform: translateX(0%);
         transform: translateY(100%);
         opacity: 1;
         z-index: 999;
         animation: show 0.6s;
    }
     @keyframes show {
         0%, 49.99% {
             opacity: 0;
             z-index: 1;
        }
         50%, 100% {
             opacity: 1;
             z-index: 5;
        }
    }
     .login_section .overlay-container {
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 100%;
         overflow: hidden;
         transition: transform 0.6s ease-in-out;
         z-index: 100;
    }
     .login_section .container_part.right-panel-active .overlay-container{
         transform: translateX(0%);
    }
     .login_section .overlay {
         background-repeat: no-repeat;
         background-size: cover;
         background-position: 0 0;
         color: #FFFFFF;
         position: relative;
         left: -100%;
         left: 0;
         height: 200%;
         width: 100%;
         transform: translateX(0);
         transition: transform 0.6s ease-in-out;
         top: 48%;
    }
     .login_section .container_part.right-panel-active .overlay {
         top: 0%;
    }
     .login_section .container_part.right-panel-active .overlay {
         transform: translateX(0%);
         transform: translateY(50%);
    }
     .login_section .overlay-panel {
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         padding: 40px 40px;
         text-align: center;
         top: auto;
         bottom: 0;
         height: 100%;
         width: 100%;
         transform: translateX(0);
         transform: translateY(0);
         transition: transform 0.6s ease-in-out;
    }
     .login_section .overlay-left {
         transform: translateX(-0%);
         transform: translateY(-88%);
         opacity:1;
    }
     .login_section .container.right-panel-active .overlay-left {
         transform: translateX(0);
    }
     .login_section .overlay-right {
         right: 0;
         transform: translateX(0);
         transform: translateY(-37%);
    }
     .login_section .container_part.right-panel-active .overlay-right {
         transform: translateX(20%);
    }
     .login_section .container_part{
         background: #dfdfdf33;
         background: -webkit-linear-gradient(to right, #fffefe, #dfdfdf33);
         background: linear-gradient(to right, #fffefe, #dfdfdf33);
    }
    a.Visit__apiButton{ color: #fff;  }
}
 @media(max-width: 575px){
     .key__featuresBox ul li img {
         width: 60px;
         height: 60px;
    }
     .key__featuresBox ul li{
         padding: 20px 10px;
    }
     .key__featuresBox ul li h4{
         font-size: 16px;
    }
     .hedding-text{
         font-size:28px;
    }
     .banner__section__text h2{
         font-size: 32px;
    }
     .banner__section__text{
         text-align: center;
    }
     .banner__section__text p.mb-5{
         margin-bottom: 2rem !important;
         font-size: 16px;
    }
     .key__featuresBox ul{
         margin-top: 20px;
    }
     .CustomerExperience__section h2 br{
         display: none;
    }
     .faq__section__rightImg img{
         width: 100%;
         position: relative;
         right: -12px;
    }
     .faq__section {
         padding: 60px 0;
    }
     .faq__section__rightImg {
         padding-top: 50px;
    }
     .accordion-button{
         font-size: 18px;
    }
     .accordion-button::after {
        width: 25px;
        height: 25px;
        background-size: 25px;
    }
     footer a {
        line-height: normal;
        margin: 0 6px 10px;
    }
}
 